
.c-bcom{
	background-color:#0670b7;
}
.shoucang{
	background-image:url('myImg/shoucang.png');
}
.zhuanfa{
	background-image:url('myImg/zhuanfa.png');
}
.quxiao{
	background-image:url('myImg/quxiao.png');
}
.queding{
	background-image:url('myImg/queding.png');
}
.t-gra
{
	color:gray;
}
.uc-a1 {
	-webkit-border-radius: .2em;
	border-radius: .2em
}
.uban
{
	border:1px solid #f1f1f1;
	
}
.t-bg{
	color:#434343;
}
.b-blu-00{
	border-color:#0060a1;
}
.uinn-ha1{
	padding:0.625em 0.3125em;
}
.uinn-ha2{
	padding:0.5em 0.625em;
}
